# Dependencies
node_modules/
/.pnp
.pnp.js

# Production builds
build/
dist/

# Firebase configuration & local files
.firebase/
firebase-debug.log
ui-debug.log

# Environment variables (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System files
.DS_Store
Thumbs.db
